* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.Extradiscount {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(178, 140, 66);
    height: 5vh;
    color: white;
}

[alt="ADlogo"] {
    height: 1.8vw;
}

.navbar {
    display: flex;
    padding: 1vw;
    padding-top: 1.5vw;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    position: sticky;
    background-color: white;
    top: 0;
    z-index: 1;
}

.navlinks {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.navlinksrow1 {
    display: flex;
    font-size: 1.1rem;
    gap: 2vw;
}

.navlinksrow2 {
    display: flex;
    font-size: 1.1rem;
    gap: 2vw;
}

.navlinksrow3 {
    display: flex;
    font-size: 1.1rem;
    gap: 2vw;
}

.navlinks a{
    color: rgb(104, 0, 0);
    text-decoration: none;
}

.navlinks a:hover{
    text-decoration: underline;
}

.search-profile-cart-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

[alt="Searchicon"] {
    height: 3vh;
}

.centerlink {
    display: flex;
    justify-content: center;
    align-items: center;
}

.maincontent {
    height: 90vh;
}

[alt="maincontent"] {
    height: 100%;
    width: 100%;
}

.services {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vw;
    height: 15vh;
    width: 100%;
    /* padding-top: 2vw; */
    background-color: rgba(128, 128, 128, 0.13);
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

[alt="services"] {
    height: 8vh;
}

#shop-category {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    font-size: 2.5rem;
    letter-spacing: -1px;
    line-height: 1.08333;
}

[alt="spray-category"] {
    height: 54vh;
    width: 100%;
}

.spray-category {
    display: flex;
    justify-content: center;
    gap: 2vw;
}

.spray {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    font-size: 1.2rem;
    letter-spacing: -1px;
    line-height: 1.0833;
}

:root {
    --gradient-button-background: linear-gradient(45deg, rgba(166, 109, 48, 1), rgba(255, 229, 142, 1) 50%, rgba(224, 176, 87, 1) 100%);
}

.explorebestsellers {
    background-image: url(https://res.cloudinary.com/dujv8dius/image/upload/v1761978632/why-trust-us-bg_vyf4x1.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    margin-top: 5vw;
    background-color: rgb(45, 10, 6);
}

.bestseller {
    font-size: 2.5rem;
    color: white;
}

.center-bestseller {
    padding: 2vw;
}

.trending-perfume {
    height: 80vh;
    width: 25vw;
    /* border: 2px solid red; */
    margin-top: 2vw;
    box-sizing: border-box;
    background-color: white;
    border-radius: 1vw;
}


.trending {
    background-image: url(https://www.adilqadri.com/cdn/shop/files/WhatsApp_Image_2025-07-27_at_12.25.44_AM.jpg?v=1761140681&width=1200);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
    width: 100%;
    border-top-right-radius: 1vw;
    border-top-left-radius: 1vw;
    transition: all 0.5s ease-in-out;
}


.trending:hover {
    background-image: url(https://www.adilqadri.com/cdn/shop/files/1_14c7b4cf-a682-4796-bed9-9aaf729b7daa.jpg?v=1761140681&width=1100);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
    width: 100%;
}

.trending2 {
    background-image: url(https://www.adilqadri.com/cdn/shop/files/WhatsApp_Image_2025-07-27_at_12.25.05_AM_2.jpg?v=1753556411&width=1200);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
    width: 100%;
    border-top-right-radius: 1vw;
    border-top-left-radius: 1vw;
    transition: all 0.5s ease-in-out;
}


.trending2:hover {
    background-image: url(https://www.adilqadri.com/cdn/shop/files/shanayagoldboxandbottlee_1.png?v=1753556411&width=1200);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
    width: 100%;
}

.trending3 {
    background-image: url(https://www.adilqadri.com/cdn/shop/files/WhatsApp_Image_2025-07-27_at_12.28.02_AM.jpg?v=1755198357&width=1200);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
    width: 100%;
    border-top-right-radius: 1vw;
    border-top-left-radius: 1vw;
    transition: all 0.5s ease-in-out;
}


.trending3:hover {
    background-image: url(https://www.adilqadri.com/cdn/shop/files/1_509834c5-55ce-42a5-8fbb-ea7f96d88ab0.jpg?v=1755198357&width=1100);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
    width: 100%;
}

.trending4 {
    background-image: url(https://www.adilqadri.com/cdn/shop/files/WhatsApp_Image_2025-07-27_at_12.25.04_AM_1.jpg?v=1755198327&width=1200);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
    width: 100%;
    border-top-right-radius: 1vw;
    border-top-left-radius: 1vw;
    transition: all 0.5s ease-in-out;
}


.trending4:hover {
    background-image: url(https://www.adilqadri.com/cdn/shop/files/1_d8761dc3-bfaa-4c76-8bd0-d0dce49b96ce.jpg?v=1755198327&width=1200);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
    width: 100%;
}

.trending5 {
    background-image: url(https://www.adilqadri.com/cdn/shop/files/hero-img.jpg?v=1760790030&width=1200);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
    width: 100%;
    border-top-right-radius: 1vw;
    border-top-left-radius: 1vw;
    transition: all 0.5s ease-in-out;
}


.trending5:hover {
    background-image: url(https://www.adilqadri.com/cdn/shop/files/50-perfume-discovery-set-10x5ml-long-lasting-parfum-pocket-original-imahegw4zfxyrmea.jpg?v=1760790030&width=700);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
    width: 100%;
}

.trending6 {
    background-image: url(https://www.adilqadri.com/cdn/shop/files/6PCS_Combo.jpg?v=1726827164&width=1200);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
    width: 100%;
    border-top-right-radius: 1vw;
    border-top-left-radius: 1vw;
    transition: all 0.5s ease-in-out;
}


.trending6:hover {
    background-image: url(https://www.adilqadri.com/cdn/shop/files/Packofsix.4.jpg?v=1694590276&width=1200);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
    width: 100%;
}

.trending7 {
    background-image: url(https://www.adilqadri.com/cdn/shop/files/Trio_20ml.5.jpg?v=1727102757&width=1200);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
    width: 100%;
    border-top-right-radius: 1vw;
    border-top-left-radius: 1vw;
    transition: all 0.5s ease-in-out;
}


.trending7:hover {
    background-image: url(https://www.adilqadri.com/cdn/shop/files/Trio_20ml.10.jpg?v=1727102757&width=1200);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
    width: 100%;
}

.prices {
    display: flex;
    align-items: center;
    gap: .5vw;
}

.discountedprice {
    font-size: 1.2rem;
}

.discount {
    background-color: #379867;
    height: 1.5vw;
    width: 4vw;
    font-size: .7em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .3vw;
    color: white;
}

.color-star {
    color: goldenrod;
}

.row1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: .5vw; */
}

.rating {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #929292;
    background-color: #ececec;
    height: 4vh;
    width: 7vw;
    gap: .2vw;
    border-radius: .3vw;
    font-size: .8rem;
}

.centercontent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buy-on-emi {
    border: .1vw solid rgb(0, 0, 0);
    padding: .2vw;
    border-radius: .3vw;
    font-size: .5vw;
}

.or-option {
    font-size: .7rem;
    display: flex;
    align-items: center;
    gap: .5vw;
}

.trending-content {
    display: flex;
    flex-direction: column;
    gap: .5vw;
    /* padding: .5vw; */
}

.trending-main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 26vh;
    padding: 1vw;
}

.Add-to-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .5vw;
    height: 5.5vh;
    width: 100%;
    background: var(--gradient-button-background);
}

[alt="Add-to-cart"] {
    height: 5vh;
}

.directionrow {
    display: flex;
    gap: 2vw;
}


.new-perfume-launches {
    display: flex;
    gap: 2vw;
}

.img1 {
    height: 60vh;
    width: 45vw;
}

.video-content-width {
    width: 10vw;
    font-size: .8rem;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vw;
}

.combooffers {
    background-image: url(https://www.adilqadri.com/cdn/shop/files/Vector_1.png?crop=center&height=767&v=1734345346&width=762);
    background-repeat: no-repeat;
    height: 90vh;
    width: 100%;
    margin-top: 5vw;
    display: flex;
    align-items: center;
    gap: 5vw;
}

[href="123"] {
    color: rgba(0, 0, 0, 0.733);
}

.combo-offers {
    display: flex;
    flex-direction: column;
    padding-left: 1vw;
}

.combo-offers-row {
    display: flex;
}

.combo-offers-row {
    display: flex;
    gap: 1VW;
}

[alt="explore-the-range"] {
    height: 85vh;
    width: 96%;
    margin-top: 5vw;
    padding: 2vw;
}

.about-founder {
    background-image: url(https://www.adilqadri.com/cdn/shop/files/Frame_260.png?v=1734353345);
    background-size: contain;
    background-repeat: no-repeat;
}

.perfume-background {
    display: flex;
    flex-direction: column;
    gap: 3vw;
}

.founder-text {
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
    line-height: 1.5vw;
}

[alt="founder-img"] {
    height: 90vh;
}

.padding {
    padding: 2vw;
    margin-top: 5vw;
    display: flex;
    align-items: center;
    gap: 2vw;
}

.why-trust-us {
    background-image: url(https://www.adilqadri.com/cdn/shop/files/why-trust-us-bg.png?v=1734606229);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(44, 9, 6);
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    color: white;
}

[alt="trust-img"] {
    height: 30vh;
}

.trust-templates {
    display: flex;
    gap: 2vw;
}

.trustme-template {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5vw;
}

.news {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4.5vw;
    height: 45vh;
    gap: 2vw;
    background-color: rgb(247, 244, 239);
}

.news-img {
    display: flex;
    gap: 1.5vw;
}

[alt="news-img"] {
    height: 25vh;
    width: 22vw;
}

.footer {
    height: 100vh;
    background-color: rgb(67, 17, 11);
    padding-top: 3vw;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.footer-row1 {
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 2vw;

}

[alt="footer-logo"] {
    height: 4vh;
}

.phone {
    height: 5vh;
}

[alt="phone-img"] {
    height: 5vh;
}

[alt="email-icon"] {
    height: 3vh;
}

.footer-img {
    display: flex;
    gap: 1vw;
}

[alt="footer-img"] {
    height: 3vh;
}

.footer-back {
    background-color: rgb(255, 255, 255);
    height: 6vh;
    width: 3vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1vw;
}

.footer-row1-col1 {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.footer-row1-col2 {
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.footer-row1-col3 {
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.footer-row1-col4 {
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.footer-row1-col2-row1 {
    display: flex;
    flex-direction: column;
    gap: .8vw;
}

.footer-row1-col2-row2 {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.footer-bigline-center {
    display: flex;
    flex-direction: column;
    padding-top: 2vw;
    align-items: center;
    gap: 1.5vw;
    /* justify-content: center; */
}

.footer-big-line {
    height: .1vh;
    width: 90%;
    background-color: white;
}

.footer-text {
    display: flex;
    justify-content: space-between;
    gap: 55vw;
    color: white;
}

.footer-text-width {
    width: 25vw;
    font-size: .9em;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.email {
    width: 100%;
    border: .2vw solid white;
    height: 5vh;
    border-radius: 1vw;
}

.phone-no {
    display: flex;
    align-items: center;
}